/* Main styles */
html, body, :global(#root) {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: transparent;
  font-family: Arial,'Microsoft YaHei',"宋体",sans-serif;
}

#page {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  // 侧边菜单
  .page-side-menu-container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    background: #fff;
    padding-top: 100px;
    .brand {
      position: absolute;
      left: 0;
      top: 0;
      width: 200px;
      height: 100px;
      background-image: url(../../assets/logo.png);
      background-position: center;
      background-size: auto 80%;
      background-repeat: no-repeat;
      border-right: 1px solid #e8e8e8;
    }
  }
  // 页面容器
  .page-container {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0px;
    bottom: 0px;
    background: rgba(162, 209, 59, 0.05);
    // 页面内容器
    .module-container {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}

